{{ define "register" }}
{{ template "header" }}
<h1>Register</h1>
<form method="POST" action="/register">
    <label for="email">Email address:
        <input type="email" id="email" name="email">
    </label>
    <label for="password">Password:
        <input type="password" id="password" name="password1">
    </label>
    <label for="password2">Password:
        <input type="password" id="password2" name="password2">
    </label>
    <input type="submit" value="Register">
    <input type="hidden" name="csrf" value="{{.Csrf}}">
</form>
{{range .Errors}}
    <p>{{.}}</p>
{{end}}

{{ template "footer" }}
{{ end }}
